div.gallery{
    margin: 5px;
    border: 1px solid yellow;
    float: left;
    width: 180px;
}

div.gallery:hover{
    border: 1px solid brown;
}

div.gallery img{
    width: 100%;
    height: auto;
}

div.descriptionj{
    padding: 15px;
    text-align: center;
}

.sprite{
    background: url("/images/image1.jpg") no-repeat;
}
.engineers{
    width: 500px;
    height: 500px;
    display: inline-block;
    background-position: 0px 0px;
}

.shadows{
   width: 500px;
    height: 500px;
    display: inline-block;
    background-position: -500px -500px;
}

a[href="www.google.com"]{
    color: blue;
}
