body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: white;
}

.box{
    width: 100px;
    height: 100px;
    background: blue;
    margin: 40px auto;
    line-height: 100px;
    color: white;
    font-weight: bold;
    transition: 0.5s;
    /* transform: scale(1,1); */
    /* transform: scaleX(5); */
    /* transform: scaleY(4); */
    /* transform: skewX(60deg); */
    /* transform: rotateX(30deg); */
    /* transform: rotateY(180deg); */
    /* transform: skewY(30deg); */


}

.box:hover{
    transform: translate(30px,20px)rotate(45deg) scale(1.2);

}

.box3d{
    width: 100px;
    height: 100px;
    background: green;
    margin: 40px auto;
    line-height: 100px;
    color: white;
    font-weight: bold;
    transition: background 3s;
}

.box3d:hover{
    /* transform: rotateY(180deg); */
    transform: rotateZ(130deg);
    background: blueviolet;
}

.transition-box{
    width: 150px;
    height: 100px;
    background: pink;
    margin: 40px auto;
    line-height: 100px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    /* transition: background-color 1s ease, border-radius 1s ease; */
    transition: .3s ease-in-out;
}

.transition-box:hover{
    background-color: brown;
    border-radius: 50%;
    filter: blur(0);
}

.loader{
    margin-top: 60px;
}

.loader div{
    width: 30px;
    height: 60px;
    background: lightblue;
    display: inline-block;
    margin: 5px;
    animation: bounce 0.6s infinite alternate;
}

.loader div:nth-child(2){
    animation-delay: 0.1s;
}

.loader div:nth-child(3){
    animation-delay: 0.2s;
}

.loader div:nth-child(4){
    animation-delay: 0.3s;
}

@keyframes bounce{
    from{
        transform: translateY(0);
    }
    to{transform: translateY(-30px);}
    
}
