/*ul{
    /*list-style-type: square;*/
   /* list-style-image: url(download.png);
}/*
ol{
    /*list-style-type: upper-roman;*/
    /*background: #ffeeee;
    padding: 15px;
}
ol li{
    background: #ffe5e5;
    padding: 10px;
    margin-left: 30px;
}
/*ul{
    list-style-type: none;
    padding: 0;
    border: 2px solid grey;
}
ul li{
    padding: 8px 16px;
    border-bottom: 1px solid gray;
}*/
/*ul{
    border-left: 5px solid green;
    background-color: #f1f1f1;
    list-style-type: none;
    padding: 15px 25px;
    font-size: 20px;
}
table{
    border-collapse: collapse;
}
td,th{
    border: 1px solid #eee;
    padding: 15px;
}
tbody tr:nth-child(odd){
    background-color: #ff33cc;
}
tbody tr:nth-child(even){
    background-color: #d193c1;
}
div{
    overflow: scroll;
    background-color: #f27979;
    width: 200px;
    height: 200px;
}*/
table{
    border-collapse: collapse;
    width: 100%;
}
th,td{
    text-align: left;
    padding: 10px;
}
tr:nth-child(even){
    background-color: #eae2e2;
}