body{
    margin: 0;
}

*{
    box-sizing: border-box;
}
#horizontal-menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(87, 87, 57);
}

#horizontal-menu li{
    float: left;
}

#horizontal-menu li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#horizontal-menu li a:hover:not(.active){
    background-color: black;
}
.active{
    background-color: green;
}


.navbar{
    overflow: hidden;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown{
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn{
    background-color: green;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: aliceblue;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px;
    z-index: 1;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.column{
    float: left;
    width: 33.3%;
    padding: 10%;
    background-color: antiquewhite;
    height: 250px;
}

.column a{
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.column a:hover{
    background-color: beige;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}
 #vertical-menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: rgb(75, 90, 104);
    position: fixed;
    height: 100%;
    overflow: auto;
}

 #vertical-menu li a{
    display: block;
    color: aquamarine;
    padding: 8px 16px;
    text-decoration: none;
}

#vertical-menu li a.active{
    background-color: green;
    color: white;
}

#vertical-menu li a:hover:not(.active){
    background-color: blanchedalmond;
    color: white;
}
