#static{
    position: static;
    border: 3px solid red;
    width: 250px;
    height: 250px;
    padding: 20px;
}

#relative{
    position: relative;
    border: 3px solid blue;
    width: 250px;
    height: 250px;
    padding: 20px;
    left: 200px;
    top: 20px;

}

#h1fixed{
    position: fixed;
    right: 300px;
    top: 20px;
}

#fixed{
    position: fixed;
    border: 3px solid green;
    width: 250px;
    height: 250px;
    padding: 20px;
    right: 200px;
    top: 100px;
}

#parent{
    position: absolute;
    width: 250px;
    height: 250px;
    border: 3px solid pink;
}

#absolute{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    right: 80px;
    top: 70px;
    color: white;
}

#sticky{
    position: sticky;
    top: 0;
    background-color: bisque;
    padding: 20px;
    color: white;
}
