article{
    background-color: blue;
    color: white;
    padding: 20px;
}

article > p{
    background-color: red;

}

article ~ p{
    background-color: purple;
    color: white;
    padding: 20px;
}
article + p{
    background-color: orange;
}

input :out-of-range{
    border: 3px solid red;
}

form{
    margin-top: 20px;
}

input:invalid{
    border: 2px solid green;
}

input:valid{
    border: 2px solid green;
}

span:first-of-type{
    background-color: black;
    color: white;
    padding: 10px;
}

p::first-line{
    color: blue;
}
p::first-letter{
    font-size: 40px;
}

h1::before{
    content: url("download.png");
}

::selection{
    color: white;
    background-color: red;
}
